.site-section {
    padding-top: $section-h-padding;
    padding-bottom: $section-h-padding;
}

.site-section__flex {
    display: flex;
    flex-direction: column;
}

.site-section__aside {
    &.aside-right {
        margin-top: 3rem;
    }

    &.aside-left {
        margin-bottom: 3rem;
    }
}

@include media-breakpoint-up(lg) {
    .site-section {
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .site-section__header {
        margin-bottom: 72px;
    }

    .site-section__flex {
        flex-direction: row;
        margin-right: -24px;
        margin-left: -24px;
    }

    .site-section__content {
        flex: auto 1 1;
        padding-right: 24px;
        padding-left: 24px;
    }

    .site-section__aside {
        flex: $aside-width-default 0 0;
        padding-right: 24px;
        padding-left: 24px;
        &.aside-right {
            margin-left: $grid-gutter-width * 2;
            margin-top: 0;
        }
        &.aside-left {
            margin-right: $grid-gutter-width * 2;
            margin-bottom: 0;
        }
    }
}

.entry-content .entry-content__section {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
