@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$aside-width-default: 288px;
$grid-gutter-width: 24px;
$section-h-padding: 64px;

$accent: $success;
